/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/

body { 
  color: black;
  font-family: 'Open Sans',sans-serif;
  padding: 2rem;
}

section{
  margin-top: 2rem;
  margin-left: 6rem;
}

.element {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: black;
}

h1{
  font-family: sans-serif;
  font-size: 2.5rem;
}

h2 {
  color: red;
  font-size: 1.5rem;
  margin-top: 3rem;
}

.header-2{
  color: black;
}
h3 {
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 1rem;
}

h4 {
    font-size: 1rem;
  margin-bottom: 0.25rem;
}

p {
  margin-top: 0;
}

nav{
  margin: 4rem;
}

nav a{
  color: #808080;
  margin-left: 2rem;
  text-decoration: none;
}
nav a:hover {
  color:black;
}

nav a:focus {
  color:red;
}

code {
  color: #808080;
  padding: 0.5rem;
  display: block;
}

code:hover{
  color: black;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/
.intext-link{
  color:black;
  text-decoration: none;
  margin-left: 2rem;
  opacity: 25%;

  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 4rem;
}

.intext-link:hover{
  color: #D3D3D3;
}
.intext-link:focus{
  color: red;
}

.work-image{
  opacity: .5;
  margin: 2rem;
  transition: transform .5s;
}

.work-image:hover{
  opacity: .8;
  transform: scale(1.1);
}
.work-image:focus{
  opacity: 1;
  transform: scale(1.1);
}

p{
  width: 60%;
}

.button-reset{
font-family: 'Libre Barcode 128 Text', cursive;
font-size: 2rem;
color: white;
background-color: black;
transition: .2s;
}

.button-reset:hover {
font-family: 'Libre Barcode 128 Text', cursive;
color: white;
transform: scale(1.1);
background: black;
}
/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color; 
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  color:blue;
  background-color: white;
}

/* 
  TEXT ELEMENTS -------------------
*/




/* 
  COMBINED ELEMENTS -------------------
*/
.nav-main{
  margin-left: 4rem;
  margin-top: 2rem;
}

.nav-main a{
  color: black;
  text-decoration: none;
  margin-left: 2rem;
  transition: .2s;
}

.nav-main a:hover{
  border-bottom-style: solid;
  border-bottom-color: black;
}

.nav-main a:focus{
  color: red;
}

.Product-list{
    margin-top: 2rem;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
}

.Product-list2{
    margin-top: 2rem;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
}
.product-link {
  color:black;
  text-decoration: none;
  transition: .2s;
}

/*.product{
  flex-basis: 15em;
 
  flex-grow: 0;
  flex-shrink:1;
  margin: 10px 1em;
  vertical-align: top;
  position: relative;
  display: block;
}*/
 /*flex-grow: 0  不填充,   1: 填充缩放 */

 @media(max-width:2000px){
  .product{
    width:31.33333%;
    margin:0 1%;
  }
 }
 @media(max-width:771px){
  .product{
    width:48%;
    margin:0 1%;
  }
 }
 @media(max-width:440px){
  .product{
    width:100%;
    margin:0;
  }
 }

.product img{
  transition: .5s;
}

.product img:hover{
  transform: scale(1.05);
}

/*@media(max-width: 45em){
  .product1, .product2, .product3{
  padding-right: 0em;
  width: 90%;
  display: inline-block;
}*/

.product_page{
  width: 100%;
  padding: 0px;
  padding-left: 1em;
  margin-left: 0px;
 padding-right: 1em;
}


/*
@media(max-width: 25em){
  .product1, .product2, .product3{
  padding:0px 1em 0em 1em;
  width: 80%;
  display: inline-block;
  } 
}

@media(max-width: 45em){
  .eventimg img, .eventinfo{
  display: inline-block;
  padding-right: 0em;
  width: 90%;
  } 
@media(max-width: 25em){
  .eventimg img, .eventinfo{
  display: inline-block;
  padding:0px 1em 0em 1em;
  width: 80%;
  } 
}*/


.container {
  color: black;
  width: 12%;
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  text-decoration: none;
}

.container a{
  text-decoration: none;
  color: blue;
  margin-top: 1rem;
}

#brand-components .element p{
  font-size: 6rem;
  font-family: 'Open Sans',sans-serif;
}

.color-image{
  opacity: .5;
  transition: .5s;
}

.color-image:hover{
  opacity: 1;
  transform: scale(1.05);
}

@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-moz-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-webkit-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-ms-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}
@-o-keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -300px 0; }
}

html { 
    width: 100%; 
    height: 100%; 
    background-image: url(../img/background01.jpg);
    background-position: 0px 0px;

    animation: animatedBackground 10s linear infinite;
    -moz-animation: animatedBackground 10s linear infinite;
    -webkit-animation: animatedBackground 10s linear infinite;
    -ms-animation: animatedBackground 10s linear infinite;
    -o-animation: animatedBackground 10s linear infinite;
}


.hang01{
  margin-left: 2rem;
}

.hang02{
  margin-left: 2rem;
}
.main-nav{
  display: inline-block;
}

footer{
  display: block;
  position: relative;
  top:5em;
  width: 100%;
  color:black;
  text-align: center;
  padding:1em;
  margin-top: 2em;
}
footer p{
  text-align: center;
}
.form{
  margin-left: 4rem;
  text-decoration: none;
  margin-top: 4rem;
}
fieldset a{
  color: black;
  text-decoration: none;
}

.questions_text{
  position:relative;
  height:2em;
}

#information{
  margin-top: 18em;
  margin-bottom: 17em;
  padding-left: 4rem;
  padding-right: 6rem;
  width: 100%;
}


#information p{
  width: 100%;
}

.basicinfo{
  padding: 2em;
}
 

.Event{
  margin-left: 5rem;
 }

 

.Event .eventimg, .eventinfo{
  position: relative;
  display: inline-block;
  width: 40%;
}



.eventimg img{
  width: 100%;
}

.eventinfo{
  margin-top: 0;
  margin-left: 4em;
}

.eventinfo p{
  width: 100%;
}

.Event{
  margin-bottom: 20rem;
}
.Event_two{
  margin-top:20rem;
}


.container.block{
   height:300px;
   width:300px;
   float:left;
   margin-right:100px;
}
.block{
 -webkit-flex: 1 1 15em;
 -ms-flex: 1 1 15em;
 flex: 1 1 15em;
}
#album_info_name, #album_info{
  width:80%;
  margin-left:5em;
}
.footer_info{
  text-align:center;
}
